@using System.Globalization
@model QueryPattern.Models.MoviesViewModel

@{
    ViewBag.Title = "Movies";
}

<h2>Movies</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            @*sorting*@
            @foreach (var col in new[] { "Id", "Title", "Year" })
            {
                <th>
                    @Html.ActionLink(col, "Sort", new { property = col })
                </th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var movie in Model.Movies)
        {
            <tr>
                <td>@movie.Id</td>
                <td>@movie.Title</td>
                <td>@movie.Year</td>
            </tr>
        }
    </tbody>
</table>

@*paging*@
<div>
    @for (var i = 1; i <= Model.TotalPages; i++)
    {
        var style = i == Model.Page ? "font-weight: bold" : "";
        @Html.ActionLink(i.ToString(CultureInfo.InvariantCulture), "Page", new { page = i } ,new {style})
        if (i != Model.TotalPages)
        {
            @(" | ")
        }
    }
</div>